# Python / Django
venv/
vnv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3

# Django static/media (optional if you generate locally)
staticfiles/
media/

# Node / React
node_modules/
dist/
.vite/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

backend/.env